.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    padding: 1rem;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    user-select: none;
    -webkit-user-select: none;
}
