.label {
    display: block;
    text-align: start;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.indicator {
    color: var(--color-red);
    margin-inline-start: 0.25rem;
}

.disabled {
    opacity: 0.4;
}
