.add {
    width: 2.5rem;
    margin: 0 0.75rem;
}
.add svg,
.remove svg {
    height: 1em;
    width: 1em;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
}

.remove {
    width: 2.5rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    margin-top: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile {
    display: flex;
    width: 100%;
    align-items: flex-end;
}
.profile > div:first-child {
    flex: 2;
    margin-right: 0.75rem;
}
.profile > div:last-of-type {
    flex: 3;
}

@media screen and (min-width: 48em) {
    .container {
        width: 75%;
    }
}

@media screen and (min-width: 80em) {
    .container {
        width: 50%;
    }
}
