.area {
    appearance: none;
    -webkit-appearance: none;
    background: inherit;
    border: 1px solid var(--border-color);
    border-radius: 0.35rem;
    height: 2.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding: 8px 1rem 1px;
    transition-duration: var(--transition-duration);
    transition-property: var(--transition-property);
    width: 100%;
    resize: none;
    min-height: 80px;
}

.area:not([disabled]):not(:focus):hover {
    border-color: var(--border-color-hover);
}

.area:focus {
    border-color: var(--border-color-focus);
    box-shadow: var(--box-shadow-focus);
}

.area:not(:focus)[aria-invalid='true'] {
    border-color: var(--border-color-invalid);
    box-shadow: var(--box-shadow-invalid);
}

.area[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}
